
#div1 {
    text-align: right;
    background-color:none;
    height: 50px;
    padding-right: 40px;
    padding-top: 15px;
    padding-;


}


#google{
    font-size: 100px;
    text-align: center;
    }
