*{
  font-family:arial;
  margin:0%;
  font-size: 0,8em;
  padding: 0%;

}

header {
font-size: 15px;
height:100px;
padding-right: 20px;
padding-top: 15px;
display: flex;
position: relative;
justify-content:right;
color:rgb(6, 5, 5)
}

a{
text-decoration: none;
color: rgb(72, 71, 71);
cursor:pointer;
text-decoration: none;}

section{
display: flex;
flex-direction: column;
align-items: center;
}

.buscador{
    display: flex;
    text-align: center;
    contain: content 20px;
    border-radius: 100px;
    background-color: var(--search-box-bg, white);
    border: 1px solid gainsboro;
    width:500px;
    height:38px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    box-shadow: 0 0 10px 0 gainsboro;
}

.buscador >input{
    flex-grow: 1;
    border:none;
}

.buscador>img{
    height: 23px;
    display: flex;
}

.botones{   
    text-align: center;
    padding-top: 20px;
    justify-content: space-between;
    height: 36px;
    justify-content: space-around;

    
button:hover {
    justify-content: space-around;
    justify-content: space-between;
    padding: 8px;
}



.footer{
    display: flex;
    text-align: center;

}
#div1 {
    text-align: right;
    background-color:none;
    height: 50px;
    padding-right: 20px;
    padding-top: 8px;
    justify-content: space-around;
}

main{
    justify-content: space-around;
}

.google{
    text-align: center;
    padding top:10px;
    }
  
.lupa{
    display: flex;
    height: 25px; 
}  

.microfono{
    display: flex;
    height:20px;
    background: none;
}
  

.footer{
    text-align: center;
    padding-top: 2px;
}

