
body{
    margin:0%;
    font-family:Arial, sans-serif ;
    font-size:0.9em;
}

.material-icons{
    color: rgb(108, 107, 107);
    font-size: 21px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}

.google{
    align-items: 10px;

}

a{
    margin:0px;
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

header{
    font-size: 13px;
    height:15px;
    padding-right: 10px;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content:right;
    color:rgb(6, 5, 5)
    }   

nav{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 20px;
}

ul> a{
    padding: 0 8px;
}

ul> img{
    padding: 0 8px;
}

.icono:hover{
    box-shadow: 0 0 10px gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

section{
    padding-top: 83px;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}

.buscador{
display:flex;
justify-content: space-between;
width: 500px;
height: 38px;
border:1px solid gainsboro;
border-radius: 20px;
}

.buscador > input {
    flex-grow: 1;
    border:none;
    outline:none;
}

.buscador:hover{
    box-shadow: 0 0 10px 0 gainsboro;
}

.botones{
    padding-top:42px;
}

button{
    background: color #f8f9fa; ;
    border-radius: 5px;
    border:none;
    height:36px;
    padding:0 20px;
    margin:0 4px;
}

button:hover{
    cursor: pointer;
    box-shadow:inset;
    box-shadow: 0 0 10px 0 gainsboro;
}

footer{
 display: flex;
 text-align: center;
 justify-content: space-around;
 padding-top: 190px;
}

